<!-- updatecontact.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Update Contact</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <!-- Link to external stylesheet -->
</head>
<body>
  <nav class="navbar">
    <h1>My Contacts</h1>
    <div class="links">
      <a href="/">Home</a>
      <a class="new-item-link" href="/addcontact">New Contact</a>
    </div>
  </nav>

  <div class="content">
    <div class="update">
      <h2>Update Contact</h2>
      <form action="/single-contact/<%= contact._id %>?_method=PUT" method="POST">
        <label>First Name:</label>
        <input type="text" value="<%= contact.firstName %>" id="firstName" name="firstName" required />


        <label for="lastName">Last Name:</label>
        <input type="text" value="<%= contact.lastName %>" id="lastName" name="lastName" required /><br />

        <label for="email">Email:</label>
        <input type="email" value="<%= contact.email %>" id="email" name="email" required /><br />

        <label for="phone">Phone:</label>
        <input type="number" value="<%= contact.phone %>" id="phone" name="phone" required /><br />

        <label for="address">Address:</label>
        <textarea  id="address" name="address" rows="4" required><%= contact.address %></textarea><br />


        <button type="submit">Update Contact</button>
      </form>
    </div>
  </div>
</body>
</html>